@page "{id}"
@model coreadvanced.Pages.Admin.Courses.CreateEpisodeModel
@{
    ViewData["Title"] = "CreateEpisode";
}

<div class="row">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="CourseEpisode.CourseID" />
        <div class="col-md-12">
            <h2> اطلاعات قسمت </h2>
            <hr />
        </div>
        <div class="form-group">
            <label>عنوان قسمت</label>
            <input type="text" asp-for="CourseEpisode.EpisodeTitle" class="form-control" />
            <span asp-validation-for="CourseEpisode.EpisodeTitle"></span>
        </div>
        <div class="form-group">
            <label>زمان قسمت</label>
            <input type="text" asp-for="CourseEpisode.EpisodeTime" class="form-control" />
            <span asp-validation-for="CourseEpisode.EpisodeTime"></span>
        </div>
        <div class="form-group">
            <label>فایل بخش</label>
            <input type="file" name="FileEpisode" />
            <p class="text-danger">فایل تجباری است</p>
            @if (ViewData["isExist"] != null)
            {
                <div class="alert alert-danger">
                    نام فایل معتبر نمی باشد لطفا تغییر دهید

                </div>
            }
            <span asp-validation-for="CourseEpisode.EpisodeFileName"></span>
        </div>
        <div class="form-group">
            <label>دسترسی</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" asp-for="CourseEpisode.isFree">
                    رایکان
                </label>

            </div>


        </div>
        <input type="submit" value="ذخیره اطلاعات" class="btn btn-success" />
    </form>


</div>

