@page
@using datalayer.Entities.User;
@model coreadvanced.Pages.Admin.Users.CreateUserModel
@{
    ViewData["Title"] = "افزودن کاربر جدید";
    List<Role> roles = ViewData["Roles"] as List<Role>;
}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">افزودن کاربر</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

<div class="row">
    <form  method="post" enctype="multipart/form-data">
        <div class="col-md-8">
            <div class="panel panel-default">

                <div class="panel-heading">
                    اطلاعات کاربر

                </div>

                <div class="panel-body">
                    <div class="form-group">
                        <label>نام کاربری</label>
                        <input type="text" asp-for="createUserViewModel.UserName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>ایمیل</label>
                        <input type="email" asp-for="createUserViewModel.Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>کلمه عبوری</label>
                        <input type="text" asp-for="createUserViewModel.Password" class="form-control" />
                    </div>
                    <div class="form-group">
                        @foreach (var item in roles)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="SelectedRole" value="@item.RoleID" />@item.RoleTilte
                                </label>
                            </div>
                        }

                    </div>
                    <div class="col-md-12">
                        <p>
                            <input type="submit" value="ذخیره اطلاعات" class="btn btn-outline btn-default" />

                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">

                <div class="panel-heading">
                    تصویر پروفایل

                </div>

                <div class="panel-body">
                    <img id="imgavatar" class="thumbnail" src="/UserAvatar/Deafault.jpg" />
                    <div class="form-group">
                        <label></label>
                        <input id="imginp" type="file" asp-for="createUserViewModel.UserAvatar" />
                    </div>
                </div>

            </div>
           
        </div>
      
    </form>

</div>
@section Scripts
{
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imgavatar').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imginp").change(function () {
        readURL(this);
    });


</script>

 }