@using Core.Convertors;
@model Core.DTOs.ChargeViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page"> کیف پول </li>
        </ul>
    </nav>
</div>
<div class="container">
    <div class="user-account">
        <div class="row">
            <partial name="_Sidebar" />
            <div class="col-md-9 col-sm-8 col-xs-12">
                <section class="user-account-content">
                    <header><h1>شارژ کیف پول </h1></header>
                    <div class="inner form-layer">
                        <form asp-action="Index" method="post">
                            <div class="row">
                                <div class="col-md-7 col-sm-8 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="username"><i class="zmdi zmdi-money"></i></span>
                                        <input type="number" asp-for="Amount" class="form-control" placeholder="مبلغ">
                                    </div>
                                </div>
                                <div class="text-danger" asp-validation-summary="All"></div>
                                <div class="col-md-7 col-sm-8 col-xs-12">
                                    <button class="btn btn-success">شارژ کیف پول </button>
                                </div>
                            </div>

                        </form>
                        <hr/>
                        @{ 
                            List<Core.DTOs.WalletViewModel> list = ViewBag.listwallet as List<Core.DTOs.WalletViewModel>;
                        }
                        <table class="table table-bordered">
                            <tr>
                                <th>مبلغ</th>
                                <th>تاریخ</th>
                                <th>نوع تراکنش</th>
                                <th>شرح</th>
                            </tr>
                            @foreach(var item in list)
                            {
                                <tr>
                                    <td>@item.Amount.ToString("#,0 تومان")</td>
                                    <td>@item.DateTime.toshamsi()</td>
                                    <td>
                                        @if (item.Type == 1)
                                        {
                                            <p>واریز به حساب</p>
                                        }
                                        else
                                        {
                                           <p>برداشت از حساب</p>
                                        }
                                    </td>


                                    <td>
                                        @{ 
                                            string taghref = "<a href='/UserPanel/MyOrders/ShowOrder/"+item.Description.Replace("فاکتور شما #","")+"'>#</a>";
                                        }
                                        @Html.Raw(item.Description.Replace("#",taghref))
                                    </td>
                                </tr>
                            }

                        </table>

                    </div>
                </section>
            </div>
        </div>
    </div>
</div>