@model datalayer.Entities.User.User

<div style="direction:rtl; padding:20px">
    <h2>@Model.UserName عزیز!!</h2>
    <p> با تشکر از ثبت نام در سایت .... برای ادامه فعال سازی لطفا در لینک زیر کلیک کنید.</p>
    <a href="https://localhost:44373/Account/ActiveAccount/@Model.Activecode">فعال سازی حساب کاربری</a>
</div>